*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;

}
h4{
    font-size:20px;
    color: #222;
}
h6{
    font-weight:700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
body{
    width: 100%;
        
}
.mainlogo{
    color: #1a1a1a;
}
.mobile{
    display: none;
    align-items: center;
}
.close{
    display: none;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #16ada3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar{
    background-color: #16ada3;
    height: 100vh;
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px;
    position: sticky;
    left: 0;
}
.navbar li {
    list-style: none;
    padding-bottom: 30px;
}
.navbar li a{
    position: relative;
    font-size: 15px;
    font-weight: 800;
    color:#1a1a1a;
    transition:  0.7 ease;
}
.navbar li a:hover,
.navbar li a.active{
    color: #222;
}
.navbar li a.active::after,
.navbar li a:hover::after{
    content: " ";
    height: 3px;
    width: 30%;
    background: #222;
    position: absolute;
    bottom: -4px;
    left: 0px;
}
